<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <br>
        <label for="">name:</label>
        <input type="text" name="name" placeholder="name"><br>
        <label for="">id_no:</label>
        <input type="text" name="id_no" placeholder="id_no"><br>
        <button type="submit">Submit</button>
    </form>
    <div>{{stud1}}

        
        {{grd}}</div>
</body>
</html>