<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>name:{{std.name}}</p><br>
        <p>id_no:{{std.id_no}}</p><br>
    </div>
    <div> 
    <p>quiz1:{{grd.quiz1}}</p><br>
    <p>quiz2:{{grd.quiz2}}</p><br>
    <p>assignment1:{{grd.assignment}}</p><br>
    <p>assignment2:{{grd.assignment2}}</p><br>
    <p>mid_exam:{{grd.mid_exam}}</p><br>
    <p>final_exam:{{grd.final_exam}}</p><br>
    <p>Total:{{sum_total}}</p><br>
</body>
</html>