<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>{{stud1.name}}</p><br>
        <p>{{stud1.id_no}}</p><br>
    </div>
    <div> 
    <p>{{grd.quiz1}}</p><br>
    <p>{{grd.quiz2}}</p><br>
    <p>{{grd.assignment}}</p><br>
    <p>{{grd.assignment2}}</p><br>
    <p>{{grd.mid_exam}}</p><br>
    <p>{{grd.final_exam}}</p><br>

    </div>
</body>
</html>